input {
  margin-top: 0.25em;
}

p {
  margin-top: 1em;
}

.editDel {
  padding: 1em 0;
  width: 80%;
  .col-sm-2:first-of-type {
    margin-top: 1em;
    @media (min-width: 770px) {
      padding-right: 0.1em;
    }
  }
  .col-sm-2:nth-of-type(2) {
    margin-top: 1em;
    @media (min-width: 770px) {
      padding-left: 0.1em;
    }
  }
}