<ul class="list-group">
  <li class="list-group-item" *ngFor="let listing of Harry">
    <p><strong>Name: </strong>{{listing.name}}</p>
    <p><strong>Email: </strong>{{listing.email}}</p>
    <p><strong>Mobile: </strong>{{listing.mobile}}</p>
    <p><strong>Address: </strong>{{listing.address}}</p>
    <div class="editDel row">
      <div class="col-sm-1"><button class="btn-primary">Edit</button></div>
      <div class="col-sm-1"><button class="btn-danger">Delete</button></div>
    </div>
  </li>
</ul>
